:root {
    /* text */

    --main-font: 'Cormorant Garamond', serif;
    /* 300-700 */
    --text-font: 'Noto Serif', serif;
    /* 400/700 */

    --text-color: black;
    --hover-color: rgb(120, 115, 115);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration:none;
    color: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    /* position: fixed; */
    width: 100%;
    height: 100%;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1024px;
}


.header {
    position: absolute;
    width: 100%;
    padding: 0;
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-direction: row;


    font-family: var(--text-font);
    color: var(--hover-color);
    font-size: medium;

    gap: 20px;

    width: 100%;
    padding-top: 10px;
    /* padding-left: 25px;
padding-right: 25px; */
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;

    /* background-color: rgba(220, 220, 220, 0.551); */
}

.header__nav:hover {
    background-color: rgba(220, 220, 220, 0.551);

}

.header__li {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    width: 150px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.header__li:hover {
    transform: scale(1.1);
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px; */
    color: var(--text-color);

}



.main {
    display: block;
    margin: auto;
    width: 100%;
    height: 100px;
    /* background-image:url(./images/dr.jpg); */
    background-image: url(https://i.pinimg.com/564x/95/21/7b/95217bd56c4afee8c5b116928f8557a2.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    /* background-size:cover; */
    padding-top: 170px;
    padding-bottom: 170px;

    justify-content: center;


}


.main__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

}


.main__text {

    font-family: var(--main-font);
    color: var(--text-color);
    position: relative;
    /* transition: all 0.3s ease-in-out; */

    font-size: 3em;
    line-height: 1em;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: uppercase;

    text-align: center;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */


    /* background-color: white; */


}

.main__text::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.main__text:hover::before {
    transform: scaleX(1);
}

.main__text-second {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: small;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: center;



}

.about_body{
    /* background-image: url(https://i.pinimg.com/originals/6b/b5/50/6bb550e9e724632e473328f2d5d6462c.gif);
    background-size:250px;
    
 
    object-fit: cover; */
    
}


.product {

     padding-top: 60px;
    padding-bottom: 60px;



}

.product__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    justify-content: space-between;

  

    /* gap: 40px */
    ;
}

.product__list {
    border-radius: 25px;
      cursor: pointer;
   
    transition: all 0.3s ease-in-out;
}

.product__list:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.product__photo {
    /* display: block; */
    width: 300px;
    /* height: 300px; */
  
    object-fit: cover;
    overflow: hidden;

    border-radius: 10px;


}


.product__text {
    font-family: var(--main-font);
    color: var(--text-color);
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
    margin-top: 10px;


}

.product__button {
    font-family: var(--text-font);
    display: flex;
    margin: 0 auto;
    color: white;
    background-color: rgba(179, 179, 179, 0.67);

    border: none;
    border-radius: 4px;
    width: 90px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;

    margin-bottom: 10px;

    cursor: pointer;
}

.product__button:focus,
.product__button:hover {
    background-color: rgb(90, 178, 255);
    /* color:#4671D5; */
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);

}




.product-about {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.product__photo-about {
    display: block;
    border-radius: 25px;
    width: 250px;
    height: 250px;

    object-fit: cover;

}


.product__block-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: stretch;
    align-items: center; */
    justify-content: space-around;

    margin-right: 35px;
/* 
    background-color: rgba(157, 157, 157, 0.627);
    padding: 30px 60px;
    border-radius: 4px; */
}

.product__main-about {
    /* border-bottom: solid 0.5px rgba(203, 198, 198, 0.798); */
    font-family: var(--main-font);
    padding: 10px 0;

    color: var(--text-color);
    font-size: 2em;
}

.product__text-about {
    font-family: var(--text-font);
    color: var(--hover-color);
    font-size: normal;
    text-align: justify;
    line-height: 1.1em;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
.product__text-about:hover{
    color: var(--text-color);
}



.body_about_creator{
    /* background-image: url(https://i.pinimg.com/originals/13/d0/63/13d06362a1fd2bad77c16244c16788b3.gif);
    background-size:350px;
    
 
    object-fit: cover; */
    
}


.about {
    /* display: flex;
    flex-direction: row-reverse; */
/* 
    padding-top: 35vh;
    padding-bottom: 60px; */

    /* padding: 50px 20%; */
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.about__photo {
    display: block;
    border-radius: 25px;

    object-fit: cover;


    width: 250px;
    /* height: 250px; */


}



.about__block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

    margin-right: 35px;

    /* background-color: rgba(157, 157, 157, 0.627);
    padding: 30px 60px;
    border-radius: 4px; */
}

.about__text-main {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 2em;
    /* font-weight: 500; */
    /* border-bottom: solid 0.5px rgba(203, 198, 198, 0.798); */
    padding-bottom: 10px;
}

.about__text {
    font-family: var(--text-font);
    color: var(--hover-color);
    font-size: normal;
    text-align: justify;
    line-height: 1.1em;

    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.about__text:hover{
    color: var(--text-color);
}

.about__text-times {
    border-bottom: solid 1px rgba(131, 128, 128, 0.592);

}


.footer {
    /* padding-top: 60px; */
    padding-bottom: 60px;
    height: 100px;

}

.footer__sicial-links {
    font-family: var(--main-font);
    display: flex;

    font-size: larger;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;

    height: 100px;

    transition: all 0.3s ease-in-out;
    /* border-left: solid 0.5px rgb(142, 140, 140);
    border-right: solid 0.5px rgb(142, 140, 140);
    border-bottom: solid 0.5px rgb(142, 140, 140); */

    z-index: -1;


}

.footer__sicial-links:hover {
    transform: scale(1.15);
    /* border: solid 0.2px rgb(0, 0, 0); */
}

.footer__links {
    text-decoration: none;
    text-decoration: none;
    color: var(--hover-color);
   

    transition: all 0.3s ease-in-out;


}

.footer__links:hover {
    color: var(--text-color);
}

.footer__text {


    font-family: var(--main-font);
    font-size: small;
    color: var(--text-color);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}




/* COLLECTION_PAGE */
  
.collection {
    padding-top: 80px;
    padding-bottom: 10px;

    display: flex;
  justify-content: center;
  /* background-image: url(https://i.pinimg.com/originals/a7/31/20/a73120b67bd8fc2c63cfb7a5fe9cac4f.gif) ;
  background-repeat:repeat; */
  /* background-size:cover; */
  /* width: 100vw;
    height: 100vh; */
border-style:dotted ;
}


.collections__cards {
   
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;

z-index: 1;
 
}

.collection__list {
    display: flex;
    flex-direction: column;
    align-items: center;
border-radius: 25px;
background-color: rgba(215, 215, 215, 0.228);

    transition: all 0.3s ease-in-out;

}

.collection__list:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

}
.collections__photo {
   
    display: block;
    border-radius: 15px ;
    width: 300px;
    height: 300px;
    border: none;

    object-fit: cover;
background-image: url(https://i.pinimg.com/originals/be/d2/59/bed2591f723244f07bc4bf382f97103c.gif);
background-repeat: no-repeat ;

transition: all 0.3s ease-in-out;

cursor: pointer;

}

.collections__photo:hover{
    background-image: url(https://i.pinimg.com/originals/be/d2/59/bed2591f723244f07bc4bf382f97103c.gif);
    width: 300px;
    background-position: center;
  

}
.collections__text {
    font-family: var(--main-font);
    margin: 10px 0;
}
.collections__button {
    font-family: var(--text-font);
    display: flex;
    margin: 0 auto;
    color: white;
    background-color: rgba(179, 179, 179, 0.67);

    border: none;
    border-radius: 4px;
    width: 90px;
    height: 30px;
    align-items: center;
    justify-content: center;
   

    margin-bottom: 10px;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}


.collections__button:focus,
.collections__button:hover {
    background-color: rgb(90, 178, 255);
    /* color:#4671D5; */
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);

}




/* Buy Section */
.button__collection-page{
    font-family: var(--text-font);
    display: flex;
    margin: 0 auto;
    color: white;
    background-color: rgba(179, 179, 179, 0.67);
/* width: 1200px; */
margin-left: 16vw;
    border: none;
    border-radius: 4px;
    width: 90px;
    height: 30px;

    justify-content: space-evenly;
    align-items: center;


    fill: #fff;
   

    margin-bottom: 10px;
margin-top: 20px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
.button__collection-page:focus,
.button__collection-page:hover {
    background-color: rgb(90, 178, 255);
    /* color:#4671D5; */
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);

}

.svg__collection-page{
fill: white;
/* margin-right: auto; */
justify-content: center;
align-items: center;
}


/* contacts */
.body__contacts{
    
    /* background-image: url(https://i.pinimg.com/originals/d2/d4/95/d2d4957ef37e22c8d7d4a1196b86b5f0.gif); */
    /* background-image: url(https://i.pinimg.com/originals/6b/b5/50/6bb550e9e724632e473328f2d5d6462c.gif);
    background-size:450px;
    
 
    object-fit: cover; */
    /* background-repeat: no-repeat; */
   
   
}
.contacts{
    /* width: 145px; */
    margin: 0;
    position: absolute;
   
    top: 49%;
    left: 45%;
    margin-right: -50%;
    /* transform: translate(-50%, -50%) */
    
}

.contacts__main-text {
    /* display: flex;
    justify-content: center; */
    padding-bottom: 15px;
    font-family: var(--main-font);
    font-size: large;
    color: var(--text-color);

    
    
}

.contacts__block{
    /* background-color: rgba(157, 157, 157, 0.627);
    padding: 30px 60px ;
    border-radius: 4px; */
    
}
.contacts__mail {
    padding-bottom: 15px;
    font-family: var(--text-font);
    font-size: large;
    color: var(--hover-color);
}
.contacts__mail:hover{
    color: var(--text-color);
    }
.contacts__mail-link {
}
.contact_phone {
    padding-bottom: 15px;
    font-family: var(--text-font);
    font-size: large;
    
}


.contact_phone-link {
    color: var(--hover-color);
}
.contact_phone-link:hover{
    color: var(--text-color);
    }